$def with(f, m)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>$f.name</title>
  <link rel="stylesheet" type="text/css" href="/static/global.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/audio.css" /> 
</head>
<body>
  <div id="audioplayer">
  </div>
<script type="text/javascript" src="/static/audio-player/audio-player.js"></script>
<script type="text/javascript">
  AudioPlayer.setup('/static/audio-player/player.swf', {width: 600, left: '000000', lefticon: 'FFFFFF', loader: '666666', transparentpagebg: 'yes'});
  AudioPlayer.embed('audioplayer', {soundFile: '/i/$f.filename'});
</script>
</body>
</html>
