$def with(f, m)
$var title: $f.name
$var head:
    <link rel="stylesheet" type="text/css" href="/static/document.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/syntax.css" /> 
<div id="wrap">
  <div id="meta">
    <ul class="left">
      <li id="filename">$f.name</li>
    </ul>
    <ul class="right">
      <li id="raw"><a href="/view/$f.base/$f.name" class="button">Raw</a></li>
      <li id="download"><a href="/download/$f.base" class="button">Download</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div id="code">
    $:m.html
  </div>
</div>
